# Documentaion: https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Doors daemon reader service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 {{ path_to_doors_code }}Kod/reader.py
User=pi
Environment=DOOR_HOME={{ path_to_doors_code }}

[Install]
WantedBy=multi-user.target