Port 22
ListenAddress 0.0.0.0

PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
ChallengeResponseAuthentication no

UsePAM yes

PrintMotd no
TCPKeepAlive yes
UseDNS no

ClientAliveInterval 120

AllowGroups remote_access

# path to the banner 
Banner {% if banner is defined %} /etc/ssh/sshd_banner {% else %} no {%endif%}

# override default of no subsystems
Subsystem   sftp    internal-sftp
